<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listners>
		<listner class-name="crmframework.crmAutomation.TestListeners" />
	</listners>
	<test thread-count="5" name="Test">
		<classes>
			<!-- <class name="crmframework.crmAutomation.AccountPageTest" /> -->
			<!-- <class name="crmframework.crmAutomation.OtherTest" /> -->
			<class name="crmframework.crmAutomation.ContactPageTest" />
			<methods>
				<include name="TS001_VerifyHomePageTest" />
				<include name="TS004_VerifyMarketingRelationshipOwnerContactTest" />
			</methods>
		</classes>
	</test>
</suite>