<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listners>
		<listner class-name="crmframework.crmAutomation.TestListeners" />
	</listners>
	<test thread-count="5" name="Test">
		<classes>
			<!-- <class name="crmframework.crmAutomation.AccountPageTest" /> -->
			<!-- <class name="crmframework.crmAutomation.OtherTest" /> -->
			<!--<class name="crmframework.crmAutomation.ContactPageTest" /> -->
			<!--<class name="crmframework.crmAutomation.PeoplePageTest" /> -->
			<!-- <class name="crmframework.crmAutomation.IncentivesPageTest" /> -->
			<!--<class name="crmframework.crmAutomation.ContactPageTest" />-->
			<!--<class name="crmframework.crmAutomation.PeoplePageTest" />-->
			<!-- <class name="crmframework.crmAutomation.DashboardPageTest" /> -->
			<!--<class name="crmframework.crmAutomation.IncentiveCategoriesPageTest" />-->
			<!-- <class name="crmframework.crmAutomation.ReferenceDataPageTest"/> -->
			<!--<class name="crmframework.crmAutomation.PhoneCallMarketOutcomePageTest"/>-->
			<!--<class name="crmframework.crmAutomation.ChannelsPageTest" />-->
			<class name="crmframework.crmAutomation.ListManagementPageTest" />
		</classes>
		<methods>
			<include name="TS001_VerifyHomePageTest" />
			<include name="TS007_VerifyExportToExcelListMembersTest" />
		</methods>
		
	</test>
</suite>